MONGODB_URI=your_mongodb_connection_string

BETTER_AUTH_SECRET=your_better_auth_secret_min_32_chars
BETTER_AUTH_URL=http://localhost:3000
ADMIN_EMAIL=connect@kavachx.io
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_CLARITY_PROJECT_ID=
NEXT_PUBLIC_META_PIXEL_ID=
